# YOU ONLY REALLY NEED TO TWEAK FIELDS ANNOTATED WITH !! IF YOU WANT TO CHANGE FEATURES

# APPLICATION
SPRING_PROFILES_ACTIVE=dev
SERVER_PORTS=8080:8080

# DATABASE
DB_URL=jdbc:postgresql://postgres:5432/ludocode
DB_NAME=ludocode
DB_USER=ludo
DB_PASSWORD=password
DB_PORTS=5432:5432

# LOGGING
CORS_LOGGING_LEVEL=DEBUG
LOGGING_LEVEL=INFO

# COOKIES
COOKIE_DOMAIN=localhost
COOKIE_SAME_SITE=Lax
COOKIE_SECURE=false

# MAINTENANCE FLAG
MAINTENANCE_ENABLED=false

# JWT
JWT_SECRET=096c24a818694d2758390584c1066fd2

# FRONTEND URL !!
FRONTEND_ORIGINS=http://localhost:5173,http://localhost:5174

# EDITOR YAML SCHEMAS
CURRICULUM_SCHEMA_SERVER=http://localhost:8080

# AI !!
AI_ENABLED=false
GEMINI_MODEL=gemini-2.5-flash-lite
GEMINI_API_KEY=your-gemini-api-key

# AUTH !!
FIREBASE_ENABLED=false
FIREBASE_SERVICE_ACCOUNT_JSON=(Multiline environment variable)

# RUNNER !!
PISTON_ENABLED=false
PISTON_BASE=ws://localhost:2000/api/v2

# STORAGE !!

# local | gcs | s3
STORAGE_MODE=local

# = AWS = #
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=

# = GCS = #
# NOTE, GCS MIGHT NOT WORK. I DON'T KNOW :(
GCS_BUCKET_NAME=
GCS_PROJECT_ID=

# = Local Storage = #
LOCAL_BUCKET_NAME=/data/local-bucket

# LIQUIBASE
LIQUIBASE_CONTEXT=dev

# LOKI
# IF YOU WANT LOKI, PLEASE CHANGE logback-spring.xml to include whatever profile you set
LOKI_URL=http://loki:3100/loki/api/v1/push

# REDIS
REDIS_ENABLED=false
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

## none | redis
CACHE_TYPE=none

# STRIPE
STRIPE_ENABLED=false
PAYMENTS_ENABLED=false
STRIPE_MODE=DEV_UNLIMITED
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
## STRIPE ONLY FRONTEND URL FOR WEBHOOKS, IGNORE IF YOU DONT WANT STRIPE
FRONTEND_URL=http://localhost:5173