# === COOKIE ===
COOKIE_DOMAIN=localhost
COOKIE_SAME_SITE=Lax
COOKIE_SECURE=false

SPRING_PROFILES_ACTIVE=prod

# === Database ===
DB_URL=jdbc:postgresql://postgres:5432/ludocode
DB_NAME=ludocode
DB_USER=ludo
DB_PASSWORD=password

SERVER_PORTS=8080:8080

# === DEMO ====
DEMO_ENABLED=true
DEMO_TOKEN=demo-user-token
DEMO_USER_ID=598ccbea-4957-4569-81cb-ea901b62c329

# === GOOGLE AUTH ===
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

FRONTEND_ORIGINS=http://localhost:5173

# === JWT ===
JWT_SECRET=9d5df235a21c67fb4238d23abd61d9a8

# === GEMINI ===
AI_ENABLED=false
GEMINI_MODEL=gemini-2.5-flash-lite
GEMINI_API_KEY=your-gemini-api-key

# === Local Storage ===
LOCAL_BUCKET_NAME=/data/local-bucket

# === GCS ===
GCS_ENABLED=false
GCS_BUCKET_NAME=your-gcs-bucket-name
GCS_PROJECT_ID=your-gcs-project-id

# === PISTON ===
PISTON_ENABLED=true
PISTON_BASE=https://emkc.org/api/v2/piston

