HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

src/main/resources/firebase-service-account.json

local-storage/*
*local-storage

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### SHELL ###
*.sh

# Ignore all env files
*.env
.env*

# But keep this one
!example.env

docker-compose.*

!docker-compose.ludocode.yml
!docker-compose.db.yml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
